<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xierch.mpiwifi"
    android:versionCode="2"
    android:versionName="0.2" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" ></uses-permission>
    
    <uses-feature android:name="android.hardware.wifi" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.xierch.mpiwifi.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
	        android:name="NetworkBroadcast"
	        android:label="NetworkConnection" >
	        <intent-filter>
	            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
	        </intent-filter>
    	</receiver>
    	<service android:name=".WifiLoginer" />
    </application>

</manifest>